;Укажите пути к папке с Техжурналом и настройки clickhouse. Переименуйте файл в config.ini

[VOLUMES]
TECH_JOURNAL_PATH = tj_path
SYS_PATH = sys_path ; Хранение системной информации (логи, обработанные файлы)

[CLICKHOUSE]
BASE_NAME = tj_data
CLICKHOUSE_HOST = clickhouseserver
CLICKHOUSE_PORT = 8123
CLICKHOUSE_USER = default
CLICKHOUSE_PASSWORD = 